// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html, body {
  background-color: white;
  padding: 0;
  margin: 0;
  max-width: none;

  font-family: Arial, san-serif;
  font-size: 15px;

  a {
      text-decoration: none;
      &:hover {
          color: #01E2EB;
      }
      &:visited {
          color: #01E2EB;
      }
      color: #01E2EB;
  }

  > header {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;

    h1, h2 {
      margin: 0;
      display: block;
    }
    h1 {
      height: 50px;
      line-height: 50px;
      padding-left: 95px;
      font-size: 20px;
      background-color: #2b2b2b;
    }
    h2 {
      border-top: 1px solid #017fd1;
      padding: 0px 95px;
      color: #2b2b2b;
      background-color: white;
    }

    img {
      position: absolute;
      z-index: 100;
      top: 0px;
      width: 50px;
      height: 50px;
      right: 95px;
    }

  }

  > footer {
    margin-bottom: 0;
    border-radius: 0;
    background: none;
    padding: 5px 95px;
  }

  #main {
    #content {
      padding: 20px 95px;
      article {
        &.hentry {
          padding: 0;
          margin: 0;
        }
        h1 {
          font-size: 17px;
          display: inline-block;

        }
        time {
          position: static;
        }
        ol, ul {
          margin: 0 20px;
        }
      }
    }

  }
}

@media only screen and (max-width:1000px) {
  body > header {
    h1, h2 {
      padding-left: 35px;
      padding-right: 35px;
    }
  }
  body  #blog-archives {
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    article {
      padding-left: 35px !important;
      margin-right: 10px !important;
    }
    h1 {
      display: block !important;
    }
  }
  body > footer {
    padding-left: 35px;
    padding-right: 35px;
  }
  #content {
    padding: 0 !important;

    article.hentry {
      padding: 35px !important;
    }
  }

}
a.category {
  background: rgba(224, 231, 208, 1);
  padding: 0 10px;
  display: inline-block;
  color: chocolate;
  border-radius: 4px;
}

.meta {
    a, a:hover, a:visited {
        color: #333;
    }
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    .tag {
        font-size: 14px;
        font-weight: normal;
        background: #ded;
        color: #666;
        padding: 2px 4px;
        border-radius: 4px;
    }
}

.clearfix {
    clear: both;
}

* + table {
  border-style:solid;
  border-width:1px;
  border-color:#e7e3e7;
}

* + table th, * + table td {
  border-style:dashed;
  border-width:1px;
  border-color:#e7e3e7;
  padding-left: 3px;
  padding-right: 3px;
}

* + table th {
  border-style:solid;
  font-weight:bold;
  background: url("/images/noise.png?1330434582") repeat scroll left top #F7F3F7;
}

* + table th[align="left"], * + table td[align="left"] {
  text-align:left;
}

* + table th[align="right"], * + table td[align="right"] {
  text-align:right;
}

* + table th[align="center"], * + table td[align="center"] {
  text-align:center;
}
