// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html, body {
  background-color: #eee;
}

body {
  max-width: 800px;
  >header {
    // background: url('/images/header_bg.jpg') no-repeat 10% 90%;
    h1 {
      width: 100%;
      display: block;
    }
  }

  box-shadow: 0 0 1px 1px #aaa;
}

article {
  >header {
    h1.entry-title {
      font-size: 150%;
    }
  }

  p {
    font-family: $sans;
  }

}

#blog-archives {
  article {
    padding-left: 4.5em !important;
    >h1 {
      font-size: 120%;
    }
    >footer {
    }
  }
}

body > footer {
  border-radius: 0;
}

a.category {
  // background: #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  padding: 2px;
  font-style: italic;
  text-transform: capitalize;

  &:visited, &:hover {
    color: #333;
    text-decoration: none;
  }
}